{
  "openapi": "3.1.0",
  "info": {
    "title": "Mesub API",
    "version": "1",
    "description": "Recurring payments on Solana. Every route takes the project's API key as a bearer token. Fields are in snake case, dates are ISO 8601 strings in UTC, and token amounts are strings in the token's smallest unit."
  },
  "servers": [
    {
      "url": "https://api.mesub.io"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Access",
      "description": "Whether a customer may use a plan."
    },
    {
      "name": "Plans",
      "description": "The plans of the project, to build a pricing page."
    },
    {
      "name": "Subscriptions",
      "description": "Subscribe a customer from your server, and read subscriptions back."
    },
    {
      "name": "Cancel, resume, close",
      "description": "Each action is two calls with the wallet in between: build, then confirm."
    },
    {
      "name": "Project",
      "description": "The project an API key belongs to."
    },
    {
      "name": "Webhooks",
      "description": "What Mesub posts to your endpoints."
    }
  ],
  "paths": {
    "/v1/access": {
      "get": {
        "tags": [
          "Access"
        ],
        "summary": "Check access",
        "operationId": "checkAccess",
        "description": "Whether a customer may use a plan, and what explains the answer. Always 200 for a customer, subscribed or not: a customer who never subscribed answers `access: false` with `status: \"none\"`. The 404 is about the slug, never about them.\n\nLeave `plan` out to get every plan of the project the customer has anything on.\n\nOn a plan with an end date, nobody has access past that date: `access` is false from the plan's end on and `access_until` is never later, whatever period was paid for. The subscription turns `ended` within minutes of it, so `status` can still read `active` or `unpaid` for that long with `access` false. Gate on `access`.",
        "x-mesub": {
          "href": "reference/access/check",
          "title": "Check a customer's access",
          "limit": "1,000 calls a minute per API key",
          "guide": {
            "label": "Check access",
            "href": "docs/access"
          }
        },
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "@mesub/node",
            "source": "import { Mesub } from '@mesub/node';\n\nconst mesub = new Mesub(); // reads MESUB_API_KEY\n\n// true or false, cached, safe during an outage\nif (await mesub.hasAccess({ external_id: 'user_42' }, 'pro')) {\n    // serve what is paid\n}\n\n// the whole answer\nconst answer = await mesub.access({ external_id: 'user_42' }, 'pro');\n\n// every plan they have anything on\nconst { plans } = await mesub.accessList({ external_id: 'user_42' });"
          }
        ],
        "parameters": [
          {
            "name": "external_id",
            "in": "query",
            "description": "Your own id for the customer, as you gave it when the subscription was created. It follows the person whichever wallet pays. Name the customer by exactly one of `wallet`, `external_id` and `email`.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            },
            "example": "user_42"
          },
          {
            "name": "wallet",
            "in": "query",
            "description": "The wallet that pays, a base58 Solana address. Name the customer by exactly one of `wallet`, `external_id` and `email`.",
            "schema": {
              "type": "string",
              "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$"
            },
            "x-example": "9xQeWvG816bUx9EPjHmaT23yvVM2ZWbrrpZb9PusVFin"
          },
          {
            "name": "email",
            "in": "query",
            "description": "The email given when the subscription was created. Never verified by Mesub. Found however it was typed: it is trimmed and lowercased. Name the customer by exactly one of `wallet`, `external_id` and `email`.",
            "schema": {
              "type": "string",
              "format": "email",
              "maxLength": 254
            },
            "x-example": "ada@example.com"
          },
          {
            "name": "plan",
            "in": "query",
            "description": "The plan's slug, resolved inside the project the key belongs to. Left out, the answer lists every plan the customer has anything on.",
            "schema": {
              "type": "string",
              "pattern": "^(?=.*[a-z])[a-z0-9]+(?:-[a-z0-9]+)*$"
            },
            "example": "pro"
          },
          {
            "name": "attempts",
            "in": "query",
            "description": "Whether to send the last charges back, five at most. Takes `true`, `1`, `false` or `0`.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The answer for one plan when `plan` is given, the list of plans otherwise.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/AccessAnswer"
                    },
                    {
                      "$ref": "#/components/schemas/AccessList"
                    }
                  ]
                },
                "examples": {
                  "With a plan": {
                    "value": {
                      "wallet": "9xQeWvG816bUx9EPjHmaT23yvVM2ZWbrrpZb9PusVFin",
                      "plan": "pro",
                      "access": true,
                      "status": "active",
                      "paused": false,
                      "end_reason": null,
                      "late_reason": null,
                      "payment_status": "paid",
                      "subscribed_since": "2026-01-01T00:00:05.000Z",
                      "first_subscribed_at": "2026-01-01T00:00:05.000Z",
                      "current_period_end": "2026-01-31T00:00:00.000Z",
                      "cancelled_at": null,
                      "access_until": "2026-01-31T00:00:00.000Z",
                      "next_charge_at": "2026-01-31T00:00:00.000Z",
                      "next_retry_at": null,
                      "retry_deadline": null,
                      "revalidate_after": 300
                    }
                  },
                  "Not subscribed": {
                    "value": {
                      "wallet": null,
                      "plan": "pro",
                      "access": false,
                      "status": "none",
                      "paused": false,
                      "end_reason": null,
                      "late_reason": null,
                      "payment_status": "none",
                      "subscribed_since": null,
                      "first_subscribed_at": null,
                      "current_period_end": null,
                      "cancelled_at": null,
                      "access_until": null,
                      "next_charge_at": null,
                      "next_retry_at": null,
                      "retry_deadline": null,
                      "revalidate_after": 10
                    }
                  },
                  "Without a plan": {
                    "value": {
                      "plans": [
                        {
                          "wallet": "9xQeWvG816bUx9EPjHmaT23yvVM2ZWbrrpZb9PusVFin",
                          "plan": "pro",
                          "access": true,
                          "status": "active",
                          "paused": false,
                          "end_reason": null,
                          "late_reason": null,
                          "payment_status": "paid",
                          "subscribed_since": "2026-01-01T00:00:05.000Z",
                          "first_subscribed_at": "2026-01-01T00:00:05.000Z",
                          "current_period_end": "2026-01-31T00:00:00.000Z",
                          "cancelled_at": null,
                          "access_until": "2026-01-31T00:00:00.000Z",
                          "next_charge_at": "2026-01-31T00:00:00.000Z",
                          "next_retry_at": null,
                          "retry_deadline": null,
                          "revalidate_after": 300
                        }
                      ],
                      "revalidate_after": 300
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was refused as written.",
            "x-codes": [
              {
                "code": "invalid_request",
                "when": "A parameter is missing, malformed, or not one this route knows.",
                "retryable": false
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 400,
                  "message": "Ask about exactly one of wallet, external_id or email.",
                  "error": "Bad Request",
                  "code": "invalid_request",
                  "retryable": false
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing or wrong.",
            "x-codes": [
              {
                "code": "missing_api_key",
                "when": "No `Authorization: Bearer` header carrying an API key.",
                "retryable": false
              },
              {
                "code": "invalid_api_key",
                "when": "Not a key Mesub issued, or one rotated since.",
                "retryable": false
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 401,
                  "message": "Send your API key as a bearer token.",
                  "error": "Unauthorized",
                  "code": "missing_api_key",
                  "retryable": false
                }
              }
            }
          },
          "404": {
            "description": "Nothing of your project at that address.",
            "x-codes": [
              {
                "code": "plan_not_found",
                "when": "No plan of your project under that slug.",
                "retryable": false
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 404,
                  "message": "No plan of yours is named pro-max.",
                  "error": "Not Found",
                  "code": "plan_not_found",
                  "retryable": false
                }
              }
            }
          },
          "429": {
            "description": "Too many calls.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before sending the same request again.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            },
            "x-codes": [
              {
                "code": "rate_limited",
                "when": "Too many calls this minute. `Retry-After` says when to come back.",
                "retryable": true
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 429,
                  "message": "ThrottlerException: Too Many Requests",
                  "error": "Too Many Requests",
                  "code": "rate_limited",
                  "retryable": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/plans": {
      "get": {
        "tags": [
          "Plans"
        ],
        "summary": "List plans",
        "operationId": "listPlans",
        "description": "Every plan of the project that is published and named by a slug, active or sunset, sorted by slug. Drafts and closed plans are left out.",
        "x-mesub": {
          "href": "reference/plans/list",
          "title": "List the plans of a project",
          "limit": "1,000 calls a minute per API key"
        },
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "@mesub/node",
            "source": "import { Mesub } from '@mesub/node';\n\nconst mesub = new Mesub(); // reads MESUB_API_KEY\n\nconst plans = await mesub.plans.list();"
          }
        ],
        "responses": {
          "200": {
            "description": "The plans. Maybe empty.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "plans"
                  ],
                  "properties": {
                    "plans": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Plan"
                      }
                    }
                  }
                },
                "example": {
                  "plans": [
                    {
                      "slug": "pro",
                      "name": "Pro",
                      "description": "Everything in Free, plus analytics.",
                      "project_name": "Fraise",
                      "logo_url": "https://api.mesub.io/logos/3f9c2a7e5b1d4c68.webp",
                      "amount": "9990000",
                      "amount_display": "9.99",
                      "decimals": 6,
                      "symbol": "USDC",
                      "mint": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                      "period_hours": 720,
                      "network": "mainnet-beta",
                      "status": "active",
                      "available": true,
                      "ends_at": null
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing or wrong.",
            "x-codes": [
              {
                "code": "missing_api_key",
                "when": "No `Authorization: Bearer` header carrying an API key.",
                "retryable": false
              },
              {
                "code": "invalid_api_key",
                "when": "Not a key Mesub issued, or one rotated since.",
                "retryable": false
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 401,
                  "message": "Send your API key as a bearer token.",
                  "error": "Unauthorized",
                  "code": "missing_api_key",
                  "retryable": false
                }
              }
            }
          },
          "429": {
            "description": "Too many calls.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before sending the same request again.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            },
            "x-codes": [
              {
                "code": "rate_limited",
                "when": "Too many calls this minute. `Retry-After` says when to come back.",
                "retryable": true
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 429,
                  "message": "ThrottlerException: Too Many Requests",
                  "error": "Too Many Requests",
                  "code": "rate_limited",
                  "retryable": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/plans/{slug}": {
      "get": {
        "tags": [
          "Plans"
        ],
        "summary": "Retrieve a plan",
        "operationId": "retrievePlan",
        "description": "One plan: its name, its price in the smallest unit and as a person counts it, its period, its token, its status, its end date, and whether it takes new subscribers now.\n\nA plan past its end date takes no new subscriber: `available` is false, and [Create a subscription](/reference/subscriptions/create) answers `plan_ended`.",
        "x-mesub": {
          "href": "reference/plans/retrieve",
          "limit": "1,000 calls a minute per API key"
        },
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "@mesub/node",
            "source": "import { Mesub } from '@mesub/node';\n\nconst mesub = new Mesub(); // reads MESUB_API_KEY\n\nconst plan = await mesub.plans.retrieve('pro');"
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "The plan's slug: lowercase letters, digits and single hyphens.",
            "schema": {
              "type": "string",
              "pattern": "^(?=.*[a-z])[a-z0-9]+(?:-[a-z0-9]+)*$"
            },
            "example": "pro"
          }
        ],
        "responses": {
          "200": {
            "description": "The plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plan"
                },
                "example": {
                  "slug": "pro",
                  "name": "Pro",
                  "description": "Everything in Free, plus analytics.",
                  "project_name": "Fraise",
                  "logo_url": "https://api.mesub.io/logos/3f9c2a7e5b1d4c68.webp",
                  "amount": "9990000",
                  "amount_display": "9.99",
                  "decimals": 6,
                  "symbol": "USDC",
                  "mint": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                  "period_hours": 720,
                  "network": "mainnet-beta",
                  "status": "active",
                  "available": true,
                  "ends_at": null
                }
              }
            }
          },
          "400": {
            "description": "The request was refused as written.",
            "x-codes": [
              {
                "code": "invalid_request",
                "when": "A parameter is missing, malformed, or not one this route knows.",
                "retryable": false
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 400,
                  "message": "That is not a plan slug.",
                  "error": "Bad Request",
                  "code": "invalid_request",
                  "retryable": false
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing or wrong.",
            "x-codes": [
              {
                "code": "missing_api_key",
                "when": "No `Authorization: Bearer` header carrying an API key.",
                "retryable": false
              },
              {
                "code": "invalid_api_key",
                "when": "Not a key Mesub issued, or one rotated since.",
                "retryable": false
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 401,
                  "message": "Send your API key as a bearer token.",
                  "error": "Unauthorized",
                  "code": "missing_api_key",
                  "retryable": false
                }
              }
            }
          },
          "404": {
            "description": "Nothing of your project at that address.",
            "x-codes": [
              {
                "code": "plan_not_found",
                "when": "No plan of your project under that slug.",
                "retryable": false
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 404,
                  "message": "No plan of yours is named pro-max.",
                  "error": "Not Found",
                  "code": "plan_not_found",
                  "retryable": false
                }
              }
            }
          },
          "429": {
            "description": "Too many calls.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before sending the same request again.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            },
            "x-codes": [
              {
                "code": "rate_limited",
                "when": "Too many calls this minute. `Retry-After` says when to come back.",
                "retryable": true
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 429,
                  "message": "ThrottlerException: Too Many Requests",
                  "error": "Too Many Requests",
                  "code": "rate_limited",
                  "retryable": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscriptions": {
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Create a subscription",
        "operationId": "createSubscription",
        "description": "Reserves a subscription to one of your plans for the wallet named, and builds what that wallet signs: the terms, as a message, then the transaction, without sending it. Hand both to [Submit](/reference/subscriptions/submit).\n\nCalled again for the same plan, wallet and customer while nothing has landed, it answers the same subscription with a fresh transaction. The customer is the `external_id`, else the `email`, else nobody. Another customer naming the same wallet gets a subscription of its own: only the one the wallet signs for lands.\n\nA wallet whose subscription to this plan stopped comes back over its existing authorisation: a new subscription, with `costs.rent` at zero.\n\nOn a plan with an end date, `terms.message` says that the last charge is in full and that access stops when the plan ends. When the plan ends before a second charge can be made, it says the charge is a single one.",
        "x-mesub": {
          "href": "reference/subscriptions/create",
          "limit": "60 calls a minute per API key",
          "confirm": "This reserves a real subscription in the project the key belongs to. It charges nothing until a wallet signs and you submit.",
          "guide": {
            "label": "Subscribe from your server",
            "href": "docs/subscribe"
          }
        },
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "@mesub/node",
            "source": "import { Mesub } from '@mesub/node';\n\nconst mesub = new Mesub(); // reads MESUB_API_KEY\n\nconst { subscription, transaction, terms, costs } =\n    await mesub.subscriptions.create({\n        plan: 'pro',\n        wallet, // the wallet that signs and pays\n        external_id: 'user_42', // optional: your own id for this customer\n        email: 'ada@example.com', // optional: where their notices go\n    });"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "plan",
                  "wallet"
                ],
                "properties": {
                  "plan": {
                    "type": "string",
                    "pattern": "^(?=.*[a-z])[a-z0-9]+(?:-[a-z0-9]+)*$",
                    "description": "The plan's slug: lowercase letters, digits and single hyphens."
                  },
                  "wallet": {
                    "type": "string",
                    "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
                    "description": "The wallet that signs the terms and the transaction, and pays. A base58 Solana address."
                  },
                  "external_id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "Your own id for this customer, handed back as given. It is how `GET /v1/access` finds them later, whichever wallet pays."
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 254,
                    "description": "Where the customer's notices go. Not verified by Mesub. Trimmed and lowercased."
                  }
                }
              },
              "example": {
                "plan": "pro",
                "wallet": "9xQeWvG816bUx9EPjHmaT23yvVM2ZWbrrpZb9PusVFin",
                "external_id": "user_42",
                "email": "ada@example.com"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The subscription, `pending`, and what the wallet signs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscribeResult"
                },
                "example": {
                  "subscription": {
                    "id": "cmg1x0abc0001",
                    "status": "pending"
                  },
                  "transaction": "gAIBBg0Xq3ZkT9yLmR4vP7wJ8sN2aHcVbE5uYtKfDgQxWz1oMiCj6rA0lSnUhBdXe2GqFpYv7mNcTz4RwK8sLjH5AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQIDBAUGBwgJCgsM",
                  "last_valid_block_height": "301245678",
                  "costs": {
                    "rent": {
                      "subscription": "1969680",
                      "authority": "1628640",
                      "total": "3598320"
                    },
                    "fee": {
                      "signatures": 2,
                      "per_signature": "5000",
                      "priority": "0",
                      "total": "10000"
                    },
                    "total": "3608320"
                  },
                  "terms": {
                    "message": "Mesub: the terms of the subscription...\nAmount: 9.99 USDC every month\n...",
                    "expires_at": "2026-01-01T00:05:00.000Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was refused as written.",
            "x-codes": [
              {
                "code": "invalid_request",
                "when": "A parameter is missing, malformed, or not one this route knows.",
                "retryable": false
              },
              {
                "code": "mint_not_on_chain",
                "when": "The plan's token does not exist on chain.",
                "retryable": false
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 400,
                  "message": [
                    "wallet must be a base58 Solana address"
                  ],
                  "error": "Bad Request",
                  "code": "invalid_request",
                  "retryable": false
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing or wrong.",
            "x-codes": [
              {
                "code": "missing_api_key",
                "when": "No `Authorization: Bearer` header carrying an API key.",
                "retryable": false
              },
              {
                "code": "invalid_api_key",
                "when": "Not a key Mesub issued, or one rotated since.",
                "retryable": false
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 401,
                  "message": "Send your API key as a bearer token.",
                  "error": "Unauthorized",
                  "code": "missing_api_key",
                  "retryable": false
                }
              }
            }
          },
          "404": {
            "description": "Nothing of your project at that address.",
            "x-codes": [
              {
                "code": "plan_not_found",
                "when": "No plan of your project under that slug.",
                "retryable": false
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 404,
                  "message": "No plan under slug pro-max",
                  "error": "Not Found",
                  "code": "plan_not_found",
                  "retryable": false
                }
              }
            }
          },
          "409": {
            "description": "The request does not fit the current state.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before sending the same request again.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            },
            "x-codes": [
              {
                "code": "already_subscribed",
                "when": "This wallet already holds a running subscription to this plan.",
                "retryable": false
              },
              {
                "code": "subscription_cancelled",
                "when": "The wallet's subscription to this plan is cancelled, and runs to the end of its period.",
                "retryable": false
              },
              {
                "code": "payment_pending",
                "when": "A payment on this plan failed and is being retried: the wallet has to be topped up.",
                "retryable": false
              },
              {
                "code": "insufficient_balance",
                "when": "The wallet holds less of the plan's token than the first period costs.",
                "retryable": false
              },
              {
                "code": "seat_cap_reached",
                "when": "The project is at its tier's subscriber limit.",
                "retryable": false
              },
              {
                "code": "plan_not_on_chain",
                "when": "The plan was never published: it is still a draft.",
                "retryable": false
              },
              {
                "code": "plan_sunset",
                "when": "The plan takes no new subscribers.",
                "retryable": false
              },
              {
                "code": "plan_ended",
                "when": "The plan is past its end date.",
                "retryable": false
              },
              {
                "code": "plan_rebuilt",
                "when": "Another plan now stands at its address.",
                "retryable": false
              },
              {
                "code": "plan_mismatch",
                "when": "The plan on chain is not the one Mesub recorded.",
                "retryable": false
              },
              {
                "code": "receiver_account_missing",
                "when": "Nobody the plan pays has an account for its token.",
                "retryable": false
              },
              {
                "code": "subscription_stopped",
                "when": "The wallet's subscription stopped after missed payments, and its authorisation is cancelled.",
                "retryable": false
              },
              {
                "code": "subscription_terms_changed",
                "when": "The plan's terms changed since the wallet's subscription stopped.",
                "retryable": false
              },
              {
                "code": "comeback_in_flight",
                "when": "A return to this plan may still land. Ask again later.",
                "retryable": true
              },
              {
                "code": "comeback_landed",
                "when": "A return to this plan landed and is being confirmed.",
                "retryable": false
              },
              {
                "code": "comeback_period_rolling",
                "when": "A return asked within two minutes of the end of a billing period. Wait for `Retry-After`.",
                "retryable": true
              },
              {
                "code": "subscription_changed",
                "when": "Another call took the waiting subscription over meanwhile. Asking again settles it.",
                "retryable": true
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 409,
                  "message": "You are already subscribed to this plan.",
                  "error": "Conflict",
                  "code": "already_subscribed",
                  "retryable": false
                }
              }
            }
          },
          "429": {
            "description": "Too many calls.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before sending the same request again.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            },
            "x-codes": [
              {
                "code": "pending_cap_reached",
                "when": "Too many subscriptions wait for a signature, in the project or for this customer. `Retry-After` says when one frees up.",
                "retryable": true
              },
              {
                "code": "rate_limited",
                "when": "Too many calls this minute. `Retry-After` says when to come back.",
                "retryable": true
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 429,
                  "message": "Too many subscriptions are waiting for a signature in this project. Try again later.",
                  "error": "Too Many Requests",
                  "code": "pending_cap_reached",
                  "retryable": true
                }
              }
            }
          },
          "503": {
            "description": "The Solana network did not answer.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before sending the same request again.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            },
            "x-codes": [
              {
                "code": "network_unavailable",
                "when": "The Solana network does not answer. `Retry-After` says when to come back.",
                "retryable": true
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 503,
                  "message": "The Solana network did not answer. Try again in a few seconds.",
                  "error": "Service Unavailable",
                  "code": "network_unavailable",
                  "retryable": true
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "List subscriptions",
        "operationId": "listSubscriptions",
        "description": "A customer's subscriptions to your project's plans, newest first: what a \"my subscriptions\" page needs. A customer with nothing is not an error: `data` is empty.\n\nExpired checkouts are listed too, and `access` says they grant nothing. A subscription replaced by a newer one of the same wallet (`superseded`) is left out, though its id still answers on [Retrieve](/reference/subscriptions/retrieve).",
        "x-mesub": {
          "href": "reference/subscriptions/list",
          "title": "List a customer's subscriptions",
          "limit": "1,000 calls a minute per API key",
          "guide": {
            "label": "Read a subscription back",
            "href": "docs/subscribe#read-a-subscription-back"
          }
        },
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "@mesub/node",
            "source": "import { Mesub } from '@mesub/node';\n\nconst mesub = new Mesub(); // reads MESUB_API_KEY\n\nconst { data, has_more } = await mesub.subscriptions.list({\n    external_id: 'user_42',\n});\n\n// every page\nfor await (const sub of mesub.subscriptions.listAll({ external_id: 'user_42' })) {\n    // ...\n}"
          }
        ],
        "parameters": [
          {
            "name": "external_id",
            "in": "query",
            "description": "Your own id for the customer, as you gave it when the subscription was created. It follows the person whichever wallet pays. Name the customer by exactly one of `wallet`, `external_id` and `email`.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            },
            "example": "user_42"
          },
          {
            "name": "wallet",
            "in": "query",
            "description": "The wallet that pays, a base58 Solana address. Name the customer by exactly one of `wallet`, `external_id` and `email`.",
            "schema": {
              "type": "string",
              "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$"
            },
            "x-example": "9xQeWvG816bUx9EPjHmaT23yvVM2ZWbrrpZb9PusVFin"
          },
          {
            "name": "email",
            "in": "query",
            "description": "The email given when the subscription was created. Never verified by Mesub. Found however it was typed: it is trimmed and lowercased. Name the customer by exactly one of `wallet`, `external_id` and `email`.",
            "schema": {
              "type": "string",
              "format": "email",
              "maxLength": 254
            },
            "x-example": "ada@example.com"
          },
          {
            "name": "plan",
            "in": "query",
            "description": "Only this plan's, by slug. Left out, every plan of the project.",
            "schema": {
              "type": "string",
              "pattern": "^(?=.*[a-z])[a-z0-9]+(?:-[a-z0-9]+)*$"
            },
            "x-example": "pro"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "How many items to answer.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "x-example": 20
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "The id of the last subscription of the previous page. The next page starts after it.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$"
            },
            "x-example": "cmg1x0abc0001"
          }
        ],
        "responses": {
          "200": {
            "description": "One page of subscriptions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionList"
                },
                "example": {
                  "data": [
                    {
                      "id": "cmg1x0abc0001",
                      "status": "active",
                      "paused": false,
                      "end_reason": null,
                      "late_reason": null,
                      "access": true,
                      "payment_status": "paid",
                      "plan": "pro",
                      "wallet": "9xQeWvG816bUx9EPjHmaT23yvVM2ZWbrrpZb9PusVFin",
                      "email": "ada@example.com",
                      "external_id": "user_42",
                      "current_period_start": "2026-01-01T00:00:00.000Z",
                      "current_period_end": "2026-01-31T00:00:00.000Z",
                      "next_charge_at": "2026-01-31T00:00:00.000Z",
                      "next_retry_at": null,
                      "retry_deadline": null,
                      "next_retry_number": null,
                      "retries_allowed": null,
                      "access_until": "2026-01-31T00:00:00.000Z",
                      "created_at": "2026-01-01T00:00:00.000Z",
                      "confirmed_at": "2026-01-01T00:00:05.000Z"
                    }
                  ],
                  "has_more": false
                }
              }
            }
          },
          "400": {
            "description": "The request was refused as written.",
            "x-codes": [
              {
                "code": "invalid_request",
                "when": "A parameter is missing, malformed, or not one this route knows.",
                "retryable": false
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 400,
                  "message": [
                    "limit must be a whole number from 1 to 100"
                  ],
                  "error": "Bad Request",
                  "code": "invalid_request",
                  "retryable": false
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing or wrong.",
            "x-codes": [
              {
                "code": "missing_api_key",
                "when": "No `Authorization: Bearer` header carrying an API key.",
                "retryable": false
              },
              {
                "code": "invalid_api_key",
                "when": "Not a key Mesub issued, or one rotated since.",
                "retryable": false
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 401,
                  "message": "Send your API key as a bearer token.",
                  "error": "Unauthorized",
                  "code": "missing_api_key",
                  "retryable": false
                }
              }
            }
          },
          "404": {
            "description": "Nothing of your project at that address.",
            "x-codes": [
              {
                "code": "plan_not_found",
                "when": "No plan of your project under that slug.",
                "retryable": false
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 404,
                  "message": "No plan of yours is named pro-max.",
                  "error": "Not Found",
                  "code": "plan_not_found",
                  "retryable": false
                }
              }
            }
          },
          "429": {
            "description": "Too many calls.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before sending the same request again.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            },
            "x-codes": [
              {
                "code": "rate_limited",
                "when": "Too many calls this minute. `Retry-After` says when to come back.",
                "retryable": true
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 429,
                  "message": "ThrottlerException: Too Many Requests",
                  "error": "Too Many Requests",
                  "code": "rate_limited",
                  "retryable": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscriptions/{id}/submit": {
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Submit a subscription",
        "operationId": "submitSubscription",
        "description": "Relays what the wallet signed: the transaction and the terms. Mesub checks both signatures, co-signs, sends the transaction and waits for the chain, so this call is slow by design: up to 90 seconds.\n\nSafe to send again unchanged. Mesub recognises what it already co-signed and answers from the chain, so a customer is never charged twice.",
        "x-mesub": {
          "href": "reference/subscriptions/submit",
          "limit": "60 calls a minute per API key",
          "confirm": "This sends a signed transaction: if it lands, the wallet pays the first period.",
          "guide": {
            "label": "Subscribe from your server",
            "href": "docs/subscribe"
          }
        },
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "@mesub/node",
            "source": "import { Mesub } from '@mesub/node';\n\nconst mesub = new Mesub(); // reads MESUB_API_KEY\n\nconst { subscription, reason } = await mesub.subscriptions.submit(\n    'cmg1x0abc0001',\n    { transaction: signedTransaction, terms_signature },\n);\n\nif (subscription.access) {\n    // it landed: grant the plan\n}"
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The subscription's id, as `POST /v1/subscriptions` answered it.",
            "schema": {
              "type": "string"
            },
            "example": "cmg1x0abc0001"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "transaction",
                  "terms_signature"
                ],
                "properties": {
                  "transaction": {
                    "type": "string",
                    "maxLength": 2048,
                    "pattern": "^[A-Za-z0-9+/]+={0,2}$",
                    "description": "The transaction as the wallet's `signTransaction` answered it, in base64. Signed, not sent."
                  },
                  "terms_signature": {
                    "type": "string",
                    "pattern": "^[1-9A-HJ-NP-Za-km-z]{87,88}$",
                    "description": "What the wallet's `signMessage` answered over `terms.message`, in base58."
                  }
                }
              },
              "example": {
                "transaction": "gAIBBg0Xq3ZkT9yLmR4vP7wJ8sN2aHcVbE5uYtKfDgQxWz1oMiCj6rA0lSnUhBdXe2GqFpYv7mNcTz4RwK8sLjH5AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQIDBAUGBwgJCgsM",
                "terms_signature": "2Jd8sPq7XkVnT4mWcR9yHbFz3LgNuA6eKtQx5CvMjD1rYpZwSoEiGhUa8BfT2nXkVq4mWcR7yHbFz9LgNuA3eKtQ"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The subscription as it now stands: `active` when it landed. With a `reason`, nothing was settled: still `pending` when nothing landed, `failed` when what landed is not what Mesub built.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Confirmed"
                },
                "examples": {
                  "Landed": {
                    "value": {
                      "subscription": {
                        "id": "cmg1x0abc0001",
                        "status": "active",
                        "paused": false,
                        "end_reason": null,
                        "late_reason": null,
                        "access": true,
                        "payment_status": "paid",
                        "plan": "pro",
                        "wallet": "9xQeWvG816bUx9EPjHmaT23yvVM2ZWbrrpZb9PusVFin",
                        "email": "ada@example.com",
                        "external_id": "user_42",
                        "current_period_start": "2026-01-01T00:00:00.000Z",
                        "current_period_end": "2026-01-31T00:00:00.000Z",
                        "next_charge_at": "2026-01-31T00:00:00.000Z",
                        "next_retry_at": null,
                        "retry_deadline": null,
                        "next_retry_number": null,
                        "retries_allowed": null,
                        "access_until": "2026-01-31T00:00:00.000Z",
                        "created_at": "2026-01-01T00:00:00.000Z",
                        "confirmed_at": "2026-01-01T00:00:05.000Z"
                      }
                    }
                  },
                  "Not landed": {
                    "value": {
                      "subscription": {
                        "id": "cmg1x0abc0001",
                        "status": "pending",
                        "paused": false,
                        "end_reason": null,
                        "late_reason": null,
                        "access": false,
                        "payment_status": "none",
                        "plan": "pro",
                        "wallet": "9xQeWvG816bUx9EPjHmaT23yvVM2ZWbrrpZb9PusVFin",
                        "email": "ada@example.com",
                        "external_id": "user_42",
                        "current_period_start": null,
                        "current_period_end": null,
                        "next_charge_at": null,
                        "next_retry_at": null,
                        "retry_deadline": null,
                        "next_retry_number": null,
                        "retries_allowed": null,
                        "access_until": null,
                        "created_at": "2026-01-01T00:00:00.000Z",
                        "confirmed_at": null
                      },
                      "reason": "The transaction expired before it landed."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was refused as written.",
            "x-codes": [
              {
                "code": "invalid_request",
                "when": "A parameter is missing, malformed, or not one this route knows.",
                "retryable": false
              },
              {
                "code": "not_our_transaction",
                "when": "The transaction is not the one Mesub built, or the wallet's signature on it is missing or wrong.",
                "retryable": false
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 400,
                  "message": [
                    "transaction must be base64"
                  ],
                  "error": "Bad Request",
                  "code": "invalid_request",
                  "retryable": false
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing or wrong.",
            "x-codes": [
              {
                "code": "missing_api_key",
                "when": "No `Authorization: Bearer` header carrying an API key.",
                "retryable": false
              },
              {
                "code": "invalid_api_key",
                "when": "Not a key Mesub issued, or one rotated since.",
                "retryable": false
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 401,
                  "message": "Send your API key as a bearer token.",
                  "error": "Unauthorized",
                  "code": "missing_api_key",
                  "retryable": false
                }
              }
            }
          },
          "403": {
            "description": "The signed terms were refused.",
            "x-codes": [
              {
                "code": "terms_expired",
                "when": "The terms ran out, five minutes after they were handed out. Create again.",
                "retryable": false
              },
              {
                "code": "terms_missing",
                "when": "No terms were handed out for this subscription, or none are left unsigned.",
                "retryable": false
              },
              {
                "code": "invalid_terms_signature",
                "when": "The terms signature is not the subscription's wallet's, over the terms Mesub handed out.",
                "retryable": false
              },
              {
                "code": "terms_used",
                "when": "The terms were already spent by another submit.",
                "retryable": false
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 403,
                  "message": "These terms expired. Ask for them again.",
                  "error": "Forbidden",
                  "code": "terms_expired",
                  "retryable": false
                }
              }
            }
          },
          "404": {
            "description": "Nothing of your project at that address.",
            "x-codes": [
              {
                "code": "subscription_not_found",
                "when": "No subscription of your project under that id.",
                "retryable": false
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 404,
                  "message": "No subscription of yours under that id.",
                  "error": "Not Found",
                  "code": "subscription_not_found",
                  "retryable": false
                }
              }
            }
          },
          "409": {
            "description": "The request does not fit the current state.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before sending the same request again.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            },
            "x-codes": [
              {
                "code": "not_awaiting_signature",
                "when": "The subscription is no longer waiting for a signature: settled, expired or failed.",
                "retryable": false
              },
              {
                "code": "transaction_not_built",
                "when": "Submitted before any transaction was built for the wallet to sign.",
                "retryable": false
              },
              {
                "code": "terms_changed",
                "when": "Newer terms were handed out, or the plan changed since they were signed, its end date come too close for the second charge they name included. Create again.",
                "retryable": false
              },
              {
                "code": "transaction_expired",
                "when": "The transaction can no longer land. Create again.",
                "retryable": false
              },
              {
                "code": "transaction_refused",
                "when": "The network's simulation refused the transaction. Nothing was sent.",
                "retryable": false
              },
              {
                "code": "already_subscribed",
                "when": "This wallet already holds a running subscription to this plan.",
                "retryable": false
              },
              {
                "code": "seat_cap_reached",
                "when": "The project is at its tier's subscriber limit.",
                "retryable": false
              },
              {
                "code": "subscription_stopped",
                "when": "The wallet's subscription stopped after missed payments, and its authorisation is cancelled.",
                "retryable": false
              },
              {
                "code": "subscription_terms_changed",
                "when": "The plan's terms changed since the wallet's subscription stopped.",
                "retryable": false
              },
              {
                "code": "comeback_in_flight",
                "when": "A return to this plan may still land. Ask again later.",
                "retryable": true
              },
              {
                "code": "comeback_landed",
                "when": "A return to this plan landed and is being confirmed.",
                "retryable": false
              },
              {
                "code": "comeback_period_rolling",
                "when": "A return asked within two minutes of the end of a billing period. Wait for `Retry-After`.",
                "retryable": true
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 409,
                  "message": "This subscription is not waiting for a signature.",
                  "error": "Conflict",
                  "code": "not_awaiting_signature",
                  "retryable": false
                }
              }
            }
          },
          "429": {
            "description": "Too many calls.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before sending the same request again.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            },
            "x-codes": [
              {
                "code": "rate_limited",
                "when": "Too many calls this minute. `Retry-After` says when to come back.",
                "retryable": true
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 429,
                  "message": "ThrottlerException: Too Many Requests",
                  "error": "Too Many Requests",
                  "code": "rate_limited",
                  "retryable": true
                }
              }
            }
          },
          "503": {
            "description": "The Solana network did not answer.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before sending the same request again.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            },
            "x-codes": [
              {
                "code": "network_unavailable",
                "when": "The Solana network does not answer. `Retry-After` says when to come back.",
                "retryable": true
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 503,
                  "message": "The Solana network did not answer. Try again in a few seconds.",
                  "error": "Service Unavailable",
                  "code": "network_unavailable",
                  "retryable": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscriptions/{id}": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Retrieve a subscription",
        "operationId": "retrieveSubscription",
        "description": "One subscription: its status, whether it grants access and until when, its wallet, email and `external_id`, the period it last paid for, and what comes next. `access`, `payment_status` and `access_until` are what [Check access](/reference/access/check) answers for it.\n\nA `superseded` id, left out of the list, still answers here, so an id you stored keeps working.\n\nOn a plan with an end date, `access` is false from that date on and `access_until` is never later than it, whatever period was paid for. `next_charge_at` and `next_retry_at` are null once the plan ends before the charge or the retry.",
        "x-mesub": {
          "href": "reference/subscriptions/retrieve",
          "limit": "1,000 calls a minute per API key",
          "guide": {
            "label": "Lifecycle",
            "href": "docs/lifecycle"
          }
        },
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "@mesub/node",
            "source": "import { Mesub } from '@mesub/node';\n\nconst mesub = new Mesub(); // reads MESUB_API_KEY\n\nconst subscription = await mesub.subscriptions.retrieve('cmg1x0abc0001');"
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The subscription's id, as `POST /v1/subscriptions` answered it.",
            "schema": {
              "type": "string"
            },
            "example": "cmg1x0abc0001"
          }
        ],
        "responses": {
          "200": {
            "description": "The subscription.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                },
                "example": {
                  "id": "cmg1x0abc0001",
                  "status": "active",
                  "paused": false,
                  "end_reason": null,
                  "late_reason": null,
                  "access": true,
                  "payment_status": "paid",
                  "plan": "pro",
                  "wallet": "9xQeWvG816bUx9EPjHmaT23yvVM2ZWbrrpZb9PusVFin",
                  "email": "ada@example.com",
                  "external_id": "user_42",
                  "current_period_start": "2026-01-01T00:00:00.000Z",
                  "current_period_end": "2026-01-31T00:00:00.000Z",
                  "next_charge_at": "2026-01-31T00:00:00.000Z",
                  "next_retry_at": null,
                  "retry_deadline": null,
                  "next_retry_number": null,
                  "retries_allowed": null,
                  "access_until": "2026-01-31T00:00:00.000Z",
                  "created_at": "2026-01-01T00:00:00.000Z",
                  "confirmed_at": "2026-01-01T00:00:05.000Z"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing or wrong.",
            "x-codes": [
              {
                "code": "missing_api_key",
                "when": "No `Authorization: Bearer` header carrying an API key.",
                "retryable": false
              },
              {
                "code": "invalid_api_key",
                "when": "Not a key Mesub issued, or one rotated since.",
                "retryable": false
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 401,
                  "message": "Send your API key as a bearer token.",
                  "error": "Unauthorized",
                  "code": "missing_api_key",
                  "retryable": false
                }
              }
            }
          },
          "404": {
            "description": "Nothing of your project at that address.",
            "x-codes": [
              {
                "code": "subscription_not_found",
                "when": "No subscription of your project under that id.",
                "retryable": false
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 404,
                  "message": "No subscription of yours under that id.",
                  "error": "Not Found",
                  "code": "subscription_not_found",
                  "retryable": false
                }
              }
            }
          },
          "429": {
            "description": "Too many calls.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before sending the same request again.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            },
            "x-codes": [
              {
                "code": "rate_limited",
                "when": "Too many calls this minute. `Retry-After` says when to come back.",
                "retryable": true
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 429,
                  "message": "ThrottlerException: Too Many Requests",
                  "error": "Too Many Requests",
                  "code": "rate_limited",
                  "retryable": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscriptions/{id}/attempts": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "List payments",
        "operationId": "listSubscriptionAttempts",
        "description": "The charges of one subscription, newest first, and what it paid since it began: what a screen showing a customer one subscription with its payments needs.\n\n`paid` is counted over every paid charge of the subscription, not over the page. Only this id's charges are listed: a customer who came back holds a new subscription, and the payments of the one it replaced stay under that one's id.",
        "x-mesub": {
          "href": "reference/subscriptions/attempts",
          "title": "List a subscription's payments",
          "limit": "1,000 calls a minute per API key",
          "guide": {
            "label": "List its payments",
            "href": "docs/manage#list-its-payments"
          }
        },
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "@mesub/node",
            "source": "import { Mesub } from '@mesub/node';\n\nconst mesub = new Mesub(); // reads MESUB_API_KEY\n\nconst { data, has_more, paid } = await mesub.subscriptions.attempts('cmg1x0abc0001');\n\n// every page\nfor await (const attempt of mesub.subscriptions.allAttempts('cmg1x0abc0001')) {\n    // ...\n}"
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The subscription's id, as `POST /v1/subscriptions` answered it.",
            "schema": {
              "type": "string"
            },
            "example": "cmg1x0abc0001"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "How many items to answer.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "x-example": 20
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "The id of the last attempt of the previous page. The next page starts after it.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$"
            },
            "x-example": "cmg9x1b7a0003"
          }
        ],
        "responses": {
          "200": {
            "description": "One page of charges, and the total paid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttemptList"
                },
                "example": {
                  "data": [
                    {
                      "id": "cmg9x4k2c0007",
                      "attempted_at": "2026-02-02T00:01:04.512Z",
                      "outcome": "paid",
                      "reason": null,
                      "amount": "9990000",
                      "signature": "5wHu1qwD4kLDLoREEPBpKvGvhbxWFxFFfr5nQq7dxAsRRDXvHRqpNvfsCvC1qzjWQhqmPtBb8LnZjKmvpehJqSWk",
                      "retry": true,
                      "retry_number": 2,
                      "retries_allowed": 3,
                      "period_start": "2026-01-31T00:00:00.000Z"
                    },
                    {
                      "id": "cmg9x1b7a0003",
                      "attempted_at": "2026-01-31T00:00:02.000Z",
                      "outcome": "skipped",
                      "reason": "insufficient-balance",
                      "amount": "9990000",
                      "signature": null,
                      "retry": false,
                      "retry_number": null,
                      "retries_allowed": null,
                      "period_start": "2026-01-31T00:00:00.000Z"
                    }
                  ],
                  "has_more": false,
                  "paid": {
                    "count": 2,
                    "amount": "19980000"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was refused as written.",
            "x-codes": [
              {
                "code": "invalid_request",
                "when": "A parameter is missing, malformed, or not one this route knows.",
                "retryable": false
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 400,
                  "message": [
                    "limit must be a whole number from 1 to 100"
                  ],
                  "error": "Bad Request",
                  "code": "invalid_request",
                  "retryable": false
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing or wrong.",
            "x-codes": [
              {
                "code": "missing_api_key",
                "when": "No `Authorization: Bearer` header carrying an API key.",
                "retryable": false
              },
              {
                "code": "invalid_api_key",
                "when": "Not a key Mesub issued, or one rotated since.",
                "retryable": false
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 401,
                  "message": "Send your API key as a bearer token.",
                  "error": "Unauthorized",
                  "code": "missing_api_key",
                  "retryable": false
                }
              }
            }
          },
          "404": {
            "description": "Nothing of your project at that address.",
            "x-codes": [
              {
                "code": "subscription_not_found",
                "when": "No subscription of your project under that id.",
                "retryable": false
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 404,
                  "message": "No subscription of yours under that id.",
                  "error": "Not Found",
                  "code": "subscription_not_found",
                  "retryable": false
                }
              }
            }
          },
          "429": {
            "description": "Too many calls.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before sending the same request again.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            },
            "x-codes": [
              {
                "code": "rate_limited",
                "when": "Too many calls this minute. `Retry-After` says when to come back.",
                "retryable": true
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 429,
                  "message": "ThrottlerException: Too Many Requests",
                  "error": "Too Many Requests",
                  "code": "rate_limited",
                  "retryable": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscriptions/{id}/cancel": {
      "post": {
        "tags": [
          "Cancel, resume, close"
        ],
        "summary": "Cancel a subscription",
        "operationId": "cancelSubscription",
        "description": "Builds the transaction that cancels an `active`, `unpaid` or `stopped` subscription. The subscription's own wallet signs and sends it, then you [confirm](/reference/manage/confirm-cancel). Nothing changes until the confirmation.\n\nA subscription that is paid up keeps its access until the end of the period. A late or stopped one has none, and its missed period is never collected.",
        "x-mesub": {
          "href": "reference/manage/cancel",
          "limit": "60 calls a minute per API key",
          "confirm": "This builds a cancellation transaction for a real subscription. Nothing changes until its wallet signs and sends it.",
          "guide": {
            "label": "Manage from your server",
            "href": "docs/manage"
          }
        },
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "@mesub/node",
            "source": "import { Mesub } from '@mesub/node';\n\nconst mesub = new Mesub(); // reads MESUB_API_KEY\n\nconst { transaction } = await mesub.subscriptions.cancel('cmg1x0abc0001');\n// send `transaction` to your page: the paying wallet signs and sends it"
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The subscription's id, as `POST /v1/subscriptions` answered it.",
            "schema": {
              "type": "string"
            },
            "example": "cmg1x0abc0001"
          }
        ],
        "responses": {
          "201": {
            "description": "The transaction, built for the subscription's own wallet. Nothing has changed yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsignedTransaction"
                },
                "example": {
                  "transaction": "gAIBBg0Xq3ZkT9yLmR4vP7wJ8sN2aHcVbE5uYtKfDgQxWz1oMiCj6rA0lSnUhBdXe2GqFpYv7mNcTz4RwK8sLjH5AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQIDBAUGBwgJCgsM",
                  "last_valid_block_height": "301245678"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing or wrong.",
            "x-codes": [
              {
                "code": "missing_api_key",
                "when": "No `Authorization: Bearer` header carrying an API key.",
                "retryable": false
              },
              {
                "code": "invalid_api_key",
                "when": "Not a key Mesub issued, or one rotated since.",
                "retryable": false
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 401,
                  "message": "Send your API key as a bearer token.",
                  "error": "Unauthorized",
                  "code": "missing_api_key",
                  "retryable": false
                }
              }
            }
          },
          "404": {
            "description": "Nothing of your project at that address.",
            "x-codes": [
              {
                "code": "subscription_not_found",
                "when": "No subscription of your project under that id.",
                "retryable": false
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 404,
                  "message": "No subscription of yours under that id.",
                  "error": "Not Found",
                  "code": "subscription_not_found",
                  "retryable": false
                }
              }
            }
          },
          "409": {
            "description": "The request does not fit the current state.",
            "x-codes": [
              {
                "code": "subscription_not_active",
                "when": "It is not `active`, `unpaid` or `stopped`.",
                "retryable": false
              },
              {
                "code": "subscription_cancelled",
                "when": "The wallet's subscription to this plan is cancelled, and runs to the end of its period.",
                "retryable": false
              },
              {
                "code": "subscription_not_on_chain",
                "when": "It is closed already, or gone from the chain.",
                "retryable": false
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 409,
                  "message": "This subscription is not running.",
                  "error": "Conflict",
                  "code": "subscription_not_active",
                  "retryable": false
                }
              }
            }
          },
          "429": {
            "description": "Too many calls.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before sending the same request again.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            },
            "x-codes": [
              {
                "code": "rate_limited",
                "when": "Too many calls this minute. `Retry-After` says when to come back.",
                "retryable": true
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 429,
                  "message": "ThrottlerException: Too Many Requests",
                  "error": "Too Many Requests",
                  "code": "rate_limited",
                  "retryable": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscriptions/{id}/cancel/confirm": {
      "post": {
        "tags": [
          "Cancel, resume, close"
        ],
        "summary": "Confirm a cancellation",
        "operationId": "confirmCancelSubscription",
        "description": "Settles the cancellation against the chain once the wallet sent it. The account on chain is the verdict, not the signature. Mesub waits for the chain, up to 90 seconds. Safe to call twice.",
        "x-mesub": {
          "href": "reference/manage/confirm-cancel",
          "limit": "60 calls a minute per API key",
          "confirm": "This settles a cancel on a real subscription, if its wallet sent the transaction.",
          "guide": {
            "label": "Manage from your server",
            "href": "docs/manage"
          }
        },
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "@mesub/node",
            "source": "import { Mesub } from '@mesub/node';\n\nconst mesub = new Mesub(); // reads MESUB_API_KEY\n\nconst { subscription, reason } = await mesub.subscriptions.confirmCancel(\n    'cmg1x0abc0001',\n    { signature },\n);\n\nif (reason === undefined) {\n    // settled: subscription.status is 'cancelled'\n}"
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The subscription's id, as `POST /v1/subscriptions` answered it.",
            "schema": {
              "type": "string"
            },
            "example": "cmg1x0abc0001"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "signature"
                ],
                "properties": {
                  "signature": {
                    "type": "string",
                    "pattern": "^[1-9A-HJ-NP-Za-km-z]{87,88}$",
                    "description": "What the wallet answered when it sent the transaction: a base58 transaction signature."
                  }
                }
              },
              "example": {
                "signature": "5wHu1qwD4kLDLoREEPBpKvGvhbxWFxFFfr5nQq7dxAsRRDXvHRqpNvfsCvC1qzjWQhqmPtBb8LnZjKmvpehJqSWk"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The subscription, `cancelled`, or `ended` with `end_reason: \"cancelled\"` once its end passed. When nothing was settled, the subscription comes back as it was, with a `reason`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Confirmed"
                },
                "example": {
                  "subscription": {
                    "id": "cmg1x0abc0001",
                    "status": "cancelled",
                    "paused": false,
                    "end_reason": null,
                    "late_reason": null,
                    "access": true,
                    "payment_status": "paid",
                    "plan": "pro",
                    "wallet": "9xQeWvG816bUx9EPjHmaT23yvVM2ZWbrrpZb9PusVFin",
                    "email": "ada@example.com",
                    "external_id": "user_42",
                    "current_period_start": "2026-01-01T00:00:00.000Z",
                    "current_period_end": "2026-01-31T00:00:00.000Z",
                    "next_charge_at": null,
                    "next_retry_at": null,
                    "retry_deadline": null,
                    "next_retry_number": null,
                    "retries_allowed": null,
                    "access_until": "2026-01-31T00:00:00.000Z",
                    "created_at": "2026-01-01T00:00:00.000Z",
                    "confirmed_at": "2026-01-01T00:00:05.000Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was refused as written.",
            "x-codes": [
              {
                "code": "invalid_request",
                "when": "A parameter is missing, malformed, or not one this route knows.",
                "retryable": false
              },
              {
                "code": "nothing_to_confirm",
                "when": "A confirm before any transaction was built.",
                "retryable": false
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 400,
                  "message": [
                    "signature must be a base58 transaction signature"
                  ],
                  "error": "Bad Request",
                  "code": "invalid_request",
                  "retryable": false
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing or wrong.",
            "x-codes": [
              {
                "code": "missing_api_key",
                "when": "No `Authorization: Bearer` header carrying an API key.",
                "retryable": false
              },
              {
                "code": "invalid_api_key",
                "when": "Not a key Mesub issued, or one rotated since.",
                "retryable": false
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 401,
                  "message": "Send your API key as a bearer token.",
                  "error": "Unauthorized",
                  "code": "missing_api_key",
                  "retryable": false
                }
              }
            }
          },
          "404": {
            "description": "Nothing of your project at that address.",
            "x-codes": [
              {
                "code": "subscription_not_found",
                "when": "No subscription of your project under that id.",
                "retryable": false
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 404,
                  "message": "No subscription of yours under that id.",
                  "error": "Not Found",
                  "code": "subscription_not_found",
                  "retryable": false
                }
              }
            }
          },
          "409": {
            "description": "The request does not fit the current state.",
            "x-codes": [
              {
                "code": "subscription_not_active",
                "when": "It is not `active`, `unpaid` or `stopped`.",
                "retryable": false
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 409,
                  "message": "This subscription is not running.",
                  "error": "Conflict",
                  "code": "subscription_not_active",
                  "retryable": false
                }
              }
            }
          },
          "429": {
            "description": "Too many calls.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before sending the same request again.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            },
            "x-codes": [
              {
                "code": "rate_limited",
                "when": "Too many calls this minute. `Retry-After` says when to come back.",
                "retryable": true
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 429,
                  "message": "ThrottlerException: Too Many Requests",
                  "error": "Too Many Requests",
                  "code": "rate_limited",
                  "retryable": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscriptions/{id}/resume": {
      "post": {
        "tags": [
          "Cancel, resume, close"
        ],
        "summary": "Resume a subscription",
        "operationId": "resumeSubscription",
        "description": "Builds the transaction that takes a cancellation back while the paid period still runs. The subscription's own wallet signs and sends it, then you [confirm](/reference/manage/confirm-resume).",
        "x-mesub": {
          "href": "reference/manage/resume",
          "limit": "60 calls a minute per API key",
          "confirm": "This builds a resume transaction for a real subscription. Nothing changes until its wallet signs and sends it.",
          "guide": {
            "label": "Manage from your server",
            "href": "docs/manage"
          }
        },
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "@mesub/node",
            "source": "import { Mesub } from '@mesub/node';\n\nconst mesub = new Mesub(); // reads MESUB_API_KEY\n\nconst { transaction } = await mesub.subscriptions.resume('cmg1x0abc0001');\n// send `transaction` to your page: the paying wallet signs and sends it"
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The subscription's id, as `POST /v1/subscriptions` answered it.",
            "schema": {
              "type": "string"
            },
            "example": "cmg1x0abc0001"
          }
        ],
        "responses": {
          "201": {
            "description": "The transaction, built for the subscription's own wallet. Nothing has changed yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsignedTransaction"
                },
                "example": {
                  "transaction": "gAIBBg0Xq3ZkT9yLmR4vP7wJ8sN2aHcVbE5uYtKfDgQxWz1oMiCj6rA0lSnUhBdXe2GqFpYv7mNcTz4RwK8sLjH5AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQIDBAUGBwgJCgsM",
                  "last_valid_block_height": "301245678"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing or wrong.",
            "x-codes": [
              {
                "code": "missing_api_key",
                "when": "No `Authorization: Bearer` header carrying an API key.",
                "retryable": false
              },
              {
                "code": "invalid_api_key",
                "when": "Not a key Mesub issued, or one rotated since.",
                "retryable": false
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 401,
                  "message": "Send your API key as a bearer token.",
                  "error": "Unauthorized",
                  "code": "missing_api_key",
                  "retryable": false
                }
              }
            }
          },
          "404": {
            "description": "Nothing of your project at that address.",
            "x-codes": [
              {
                "code": "subscription_not_found",
                "when": "No subscription of your project under that id.",
                "retryable": false
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 404,
                  "message": "No subscription of yours under that id.",
                  "error": "Not Found",
                  "code": "subscription_not_found",
                  "retryable": false
                }
              }
            }
          },
          "409": {
            "description": "The request does not fit the current state.",
            "x-codes": [
              {
                "code": "subscription_not_cancelled",
                "when": "Nothing cancelled it.",
                "retryable": false
              },
              {
                "code": "subscription_ended",
                "when": "The paid period is over: too late to resume. Subscribe again.",
                "retryable": false
              },
              {
                "code": "subscription_not_on_chain",
                "when": "It is closed already, or gone from the chain.",
                "retryable": false
              },
              {
                "code": "plan_deleted",
                "when": "The plan is gone from the chain, or was rebuilt since the subscription was signed.",
                "retryable": false
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 409,
                  "message": "This subscription is not cancelled.",
                  "error": "Conflict",
                  "code": "subscription_not_cancelled",
                  "retryable": false
                }
              }
            }
          },
          "429": {
            "description": "Too many calls.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before sending the same request again.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            },
            "x-codes": [
              {
                "code": "rate_limited",
                "when": "Too many calls this minute. `Retry-After` says when to come back.",
                "retryable": true
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 429,
                  "message": "ThrottlerException: Too Many Requests",
                  "error": "Too Many Requests",
                  "code": "rate_limited",
                  "retryable": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscriptions/{id}/resume/confirm": {
      "post": {
        "tags": [
          "Cancel, resume, close"
        ],
        "summary": "Confirm a resume",
        "operationId": "confirmResumeSubscription",
        "description": "Settles the resume against the chain once the wallet sent it. The subscription is `active` again, with its next charge back on schedule.",
        "x-mesub": {
          "href": "reference/manage/confirm-resume",
          "limit": "60 calls a minute per API key",
          "confirm": "This settles a resume on a real subscription, if its wallet sent the transaction.",
          "guide": {
            "label": "Manage from your server",
            "href": "docs/manage"
          }
        },
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "@mesub/node",
[...]
